.pages-member-reigster-index {
  height: 100%;
  display: flex;
  flex-direction: column;

  .captcha {
    .vant-form-message {
      margin-top: -20px;
    }
  }

  .box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

    .thirdWrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 40px;
      font-size: 30px;
      color: #979797;
    }

    .itemWrap {
      height: 40px;
      border-right: 1px solid #979797;
      display: flex;
      align-items: center;
      padding: 0px 20px;
    }

    .thirdWrap .itemWrap:last-child {
      border-right: none;
    }

    .label {
      margin-left: 10px;
    }
  }
}
