.pages-member-reigster-index {
  height: 100%;
  display: flex;
  flex-direction: column;

  .van-cell-group,
  .van-cell,
  .vant-form-formItem-wrapper,
  .vant-form-formItem {
    background: #fff;
  }

  .captcha {
    .vant-form-message {
      margin-top: -20px;
    }
  }

  .swiper-slide {
    box-sizing: border-box;
    padding: 20px;
  }

  .box {
    flex: 1;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  }

  form {
    background: #fff;
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
  }

  .button {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

    .thirdWrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 40px;
      font-size: 30px;
      color: #979797;
    }

    .itemWrap {
      height: 40px;
      border-right: 1px solid #979797;
      display: flex;
      align-items: center;
      padding: 0px 20px;
    }

    .thirdWrap .itemWrap:last-child {
      border-right: none;
    }

    .label {
      margin-left: 10px;
    }
  }
}
