.pages-member-info-index{

  .van-cell, .van-cell-group {
    background-color: #fff;
    background-color: var(--cell-background-color, #fff);
  }
  
  .head {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: no-repeat url('https://images.xuct.net.cn/group1/M00/00/00/CgAQDGKEij2ATKyTAAIAU7l2Pcg600.png');
    background-size: 100% 100%;
    align-items: center;
    height: 300px;
    padding-left: 30px;

    .top-info {
      font-size: 26px;
      padding-left: 30px;

      .top-info_need {
        font-size: 30px;
        font-weight: 600;
      }
    }

    .top-refresh {
      display: flex;
      height: 60px;
      flex-direction: row;
      align-items: center;
      margin: 20px 0px 0px 20px;

      .top-user {
        font-size: 32px;
        margin-right: 20px;
      }

      .button {
        width: 30px;
        height: 54px;
        display: flex;
        box-sizing: border-box;
      }
    }
  }
}