.pages-member-info-index {
  .van-cell,
  .van-cell-group {
    background-color: #fff;
    background-color: var(--cell-background-color, #fff);
  }

  .head {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
    padding: 50px;
    box-sizing: border-box;
  }

  .head::after {
    content: '';
    width: 140%;
    height: 300px;
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 0;
    border-radius: 0 0 50% 50%;
    background-color: @navBack;
  }

  .info {
    width: 100%;
    position: absolute;
    top: 120px;
    z-index: 99;
    padding: @padding-sm;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
  }

  .van-avatar {
    width: 160px;
    height: 160px;
    position: absolute;
    top: -60px;
  }

  .top-info {
    font-size: 24px;
    color: #000;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-info_need {
      font-size: 30px;
      font-weight: 600;
      font-weight: bold;
    }

    .top-info_text {
      font-size: 24px;
      color: gray;
      margin-top: 10px;
    }
  }

  .top-refresh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .top-user {
      font-size: 32px;
      color: grey;
    }

    .button {
      width: 30px;
      height: 54px;
      display: flex;
      box-sizing: border-box;
    }
  }

  .setting {
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
    padding: @padding-sm;
    margin: 80px 20px;
    background: #fff;
  }

  .icon {
    margin-right: 30px;
  }
}
