.pages-member-bind-email-index {
  display: flex;
  flex-direction: column;
  height: 100%;

  .vant-form-formItem-wrapper,
  .vant-form-formItem {
    background: #fff;
  }

  .van-cell-group {
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
  }

  .van-button--plain.van-button--info {
    background: #fff;
  }
}
