.pages-address-groupesedit-index {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;

  .vant-form-formItem-wrapper,
  .vant-form-formItem {
    background: #fff;
  }

  .van-cell-group {
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
  }

  .van-upload-form-item {
    .vant-form-formItem-controll-item,
    .vant-form-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
