.pages-address-groupesedit-index {
  display: flex;
  flex-direction: column;
  height: 100%;

  .vant-form {
    padding: 10px;
  }

  // .vant-form-formItem-wrapper,
  // .vant-form-formItem {
  //   background: #fff;
  // }

  // // .vant-form-label,
  // // .vant-form-formItem-controll-item {
  // //   font-size: var(--cell-font-size, 28px);
  // // }

  // .vant-form-formItem-wrappe {
  //   border-bottom: 1px solid #ededed;
  // }

  // .van-upload-form-item {
  //   .vant-form-formItem-controll-item,
  //   .vant-form-message {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //   }
  // }
}
