.pages-index-index {
  padding: 10px;
  background: #fff;

  .page-icon {
    width: 40px;
  }

  .van-collapse {
    border-radius: 0 0 0.34rem 0.34rem;
    -webkit-box-shadow: 0 0.13rem 0.38rem 1px rgb(0 0 0 / 8%);
    box-shadow: 0 0.13rem 0.38rem 1px rgba(0, 0, 0, 0.08);
    margin: 10px;

    .van-cell {
      background: #f6f8fa;
    }

    .van-collapse-item__content {
      background: #f6f8fa;
    }
  }

  .calendar-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .page-icon {
      width: 60px;
    }

    .label {
      font-weight: 600;
    }
  }

  /* 日历弹出样式 */
  .pages-index-calendar_popup {
    display: flex;
    flex-direction: column;
    background: #fff;

    .van-cell {
      background: #fff;
    }

    .van-checkbox {
      display: flex;
      justify-content: flex-end;
    }

    .title {
      width: 100%;
      padding-top: 80px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 32px;
      color: grey;
      border-bottom: 10px solid rgb(242, 242, 242);
    }

    .content {
      flex: 1;
      overflow-y: auto;
    }

    .button {
      padding: 30px;
    }
  }

  /* 左侧今日按钮 */
  .pages-index_today-icon {
    position: fixed;
    left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0.53vmin 1.33vmin 0 rgb(51 51 51 / 20%);
    background: #fff;
    font-size: 30px;
    color: #2e2e39;
    font-weight: 600;
  }

  /* 右侧悬浮按钮 */
  .pages-index_home-fab {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 50px;

    .van-button {
      background: #417ff9;
      box-shadow: 0 0.04rem 0.1rem 0 rgb(0 0 0 / 15%);
    }

    .van-icon {
      color: #fff;
    }
  }
}
