.pages-address-groupes-member-index {
  .van-index-anchor {
    background-color: #ebedf0;
  }

  .van-cell {
    background-color: #fff;
  }

  .van-index-bar-wrapper {
    box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
    border-radius: @border-radius-lg;
    margin: 20px;
  }

  .van-achor-list {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .cell {
    padding: 20px;
    background: #fff;

    .van-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--hover {
      filter: brightness(0.95);
    }
  }

  .avatar {
    background-color: coral;
    color: #fff;
    font-weight: 600;
    font-weight: bold;
  }
}
