.pages-address-groupes-manager-index {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .page-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .van-power-scroll-view {
    overflow-y: auto;
  }

  .page-box-padding {
    padding-top: 100px;
  }

  .page-box-wx-padding {
    padding-top: 170px;
  }

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 100%;
    display: flex;
    height: 140px;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .box {
      background: #fff;
      box-shadow: 0 5px 10px #0002;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 50%;

      .title {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
      }

      .label {
        font-size: 30px;
        color: black;
        font-weight: 600;
        font-weight: bold;
      }

      .desc {
        margin-top: 4px;
        font-size: 22px;
        color: darkgray;
      }
    }

    .divider {
      width: 8px;
      height: 100%;
      background-color: @pageBack;
    }
  }

  .list {
    flex: 1;

    .box {
      display: flex;
      flex-direction: column;
      background: #fff;
      margin: 20px;
      box-shadow: 0 0 12px 4px rgba(194, 194, 194, 0.2);
      border-radius: @border-radius-lg;
      padding: @padding-sm 2px 4px 2px;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0px;
    }
  }
  .cell {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .avatar {
    background: pink;
    color: #fff;
  }

  .lbr {
    height: 4px;
    width: 100%;
    background-color: whitesmoke;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
  }

  .label {
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
  }

  .number {
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  .time {
    font-size: 20px;
    color: #999;
  }

  .bottom {
    height: 30px;
    background-color: #fff;
    width: 100%;
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .page-icon {
      margin-right: 30px;
      width: 50px;
    }
  }
}
