@import './default.scss';
@import './mixins.scss';

.at-calendar {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;

  /* elements */
  &__header {
    .header__flex {
      @include display-flex;
      @include align-items(center);

      height: 72px;
      color: $at-calendar-header-color;
      text-align: center;

      &-item {
        @include flex(0 0 calc(100% / 7));

        font-size: 30px;
      }
    }
  }

  &__list {
    &.flex {
      @include display-flex;
      @include align-items();
      @include flex-wrap(wrap);

      color: $at-calendar-day-color;

      .flex__item {
        @include flex(0 0 calc(100% / 7));

        font-size: 30px;
        text-align: center;
        position: relative;
        margin: 8px 0;

        &-container {
          @include align-items(center);
          @include display-flex;

          width: $at-calendar-day-size;
          height: $at-calendar-day-size;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          line-height: 27px;
          padding: 4px;

          .container-text {
            @include flex;
            flex-direction: column;
          }

          .lunar-text {
            font-size: 24px;
          }

          @media screen and (min-height: 480px) {
            .lunar-text {
              font-size: 20px;
              transform: scale(0.8);
            }
          }
        }

        &-extra {
          .extra-marks {
            position: absolute;
            bottom: 4px;
            line-height: 0;
            left: 50%;
            transform: translateX(-50%);

            .mark {
              width: $at-calendar-mark-size;
              height: $at-calendar-mark-size;
              margin-right: 4px;
              display: inline-block;
              background-color: $at-calendar-main-color;
              border-radius: 50%;
              overflow: hidden;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        &--today {
          color: $at-calendar-main-color;
          font-weight: bolder;
        }

        &--blur {
          color: #e1e4e7;
        }

        &--selected {
          color: white;
          background-color: rgba($color: $at-calendar-main-color, $alpha: 0.7);

          &-head {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
          }

          &-tail {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
          }

          /* stylelint-disable-next-line */
          .extra-marks .mark {
            background-color: white;
          }

          &-head.flex__item--selected-tail {
            background-color: transparent;

            .flex__item-container {
              background-color: rgba($color: $at-calendar-main-color, $alpha: 0.7);
            }
          }
        }
      }
    }
  }

  &__controller {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    margin-bottom: 20px;

    .controller__arrow {
      @include flex(0 0 40px);

      height: 40px;
      border-radius: 12px;
      display: inline-block;
      background-size: 16px 24px;
      background-position: center;
      background-color: #f7f8fc;
      background-repeat: no-repeat;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAAAXNSR0IArs4c6QAAAnFJREFUOBGVVF1rE0EUnXt3tzFtWmqjKYKfqIhVa1L8FQVRWtwnXwRhidXGDwQf81oCUQMioZRCHwNSgiD4lD9QSYVKsA8KbaW1jbamX8adnWsmMnESbYz7cs6ee8/ZnZm7y9h/Xk/Gs70TE9lOZQNFWsGx1IvDJoozxNDttNpmHOfyTssBj59PHxceP6keREDlYPvBGUMJzTD5LHuKhHtC70EEQe72atMAIoLu0MWzRPxInZnEdxZib2I37L2XEI/HsSvYd44AQrqZIW5b3J8fHR0sS/2ve5DJZIzFFexnSD262QAs+c1js45zyVU6KqIwnU5bS58x0mhGhusbaz153Sw9dW+QSr3yCdwJe4wCKlCigbAWiw7PAYDQdclrAclkxk8+iDBifr3JMq3lO86VQsVMuq549RQSU687mOcNANE+VfiFxuLd6NX3e5llD8qjskqb54E8n24mk5Yf3B6ab2auBsgGC8Q7QOJ1AS6ExrSZ12s6r57CyIi99cNgswywtkkIzDB2eSSdftmuGxp57RgfOfY38HlvRWVNqgmYsDb57sDkZK5hb1RHZQ9+U8bu37S/MtOc0zUg8G2U1yOV4WrTdcXrAqT4MDq0yokXVINEwb32pS9WOJfLmboueW0OGgtP05mj3IXTum6iuXHogDtr27an9D/eQBVijr2AiB/VvUQuePenNXZBfmhKrxEl6Hjv1vAHA2lJ1wRBcH9vf5+cH6k3DZANsei1eWCwIrm6uOf1Jsenq8v7Z4ActFJxrsBMo6gC0GAebPHq/Z6bqJoVyn/EQpGFK08MmF2B/Oj1wZKqtYzxeM5MJKY6dMNPQnnePR8FubkAAAAASUVORK5CYII=');

      &--right {
        //transform: rotateZ(180deg);
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAMAAADEfo0+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAyVBMVEUAAACLi6KAgL+SpLaOlqqMlqqqqqqOjqqPl6uNlKuNmK6AgICNmq6OlKz///+Rl66QlqqPlaqPlq2Rlq+Rmaq/v7+Ol6+Jk6eqqqqPmK6Ll66fn7+MlaqLk6qOnKqZmbOMlK2Nla2ImaqJnbGLk6uVlaqMmKqQlKyNlK6Mla6LormSmLCNlauOjqr///+QlqySkraPlK2Ok6yZmZmZmcyQla2NkqyNlq2Ok6qOqqqPk6mPla6OlquOlbGPl6+Jkq2dnbGQm7H////wPuHWAAAAQnRSTlMACwQOPzMDEkBDLwImKwEsJzAiMx4ENhoGORYIPEISCj5BDw1ADCo3JjwLKjoJAi4HMjQFBTUxOC0JOyk9JCAcDRcRP7n+AAAAAWJLR0QOb70wTwAAAAd0SU1FB+YBDQIkFVxycnEAAAChSURBVBjTXdDXEoIwFEXRiIgiGnsv2LAX7L39/0+Z4wzxYN72mkzKFUKIiCFCK2rGLO54wraTDkHKVistfyAzkCxtcXKQPIlVgBRJSmVIhaRag9RJGk0FrTaJ21HS7ZH0B0pMj2SIY0b6gXKMnkx1z9DzRdDL1Xe/H7SxRm+2Qe/26IMein9En/RIzhf0Vd/n3dD3v188eKbqF8/w1F9vrg/UaAxcvnadigAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wMS0xM1QwMjozNToyOSswMDowMJNqCjsAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDEtMTNUMDI6MzU6MjkrMDA6MDDiN7KHAAAAAElFTkSuQmCC');
      }

      &--disabled {
        opacity: 0.5;
      }
    }

    .controller__info {
      @include flex(0 0 auto);

      font-size: 30px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.at-calendar-slider__main {
  .main__body {
    @include display-flex;

    width: 100%;

    &--animate {
      transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    }

    .body__slider {
      @include flex(0 0 100%);
    }
  }

  &--qq,
  &--weapp,
  &--swan {
    .main__body {
      height: 480px;
    }
  }
}
