/* The Color of O2Team Brand */
$color-brand: #6190e8 !default;
$color-brand-light: #78a4f4 !default;
$color-brand-dark: #346fc2 !default;

/* Calendar */
$at-calendar-day-size: 74px !default;
$at-calendar-mark-size: 8px !default;
$at-calendar-header-color: #b8bfc6 !default;
$at-calendar-main-color: $color-brand !default;
$at-calendar-day-color: #7c86a2 !default;
