@import './_variables.less';

.van-avatar {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;

  &--small {
    width: @avatar-size-small;
    height: @avatar-size-small;
    font-size: @avatar-font-size-small;
  }

  &--medium {
    width: @avatar-size-medium;
    height: @avatar-size-medium;
    font-size: @avatar-font-size-medium;
  }

  &--large {
    width: @avatar-size-large;
    height: @avatar-size-large;
    font-size: @avatar-font-size-large;
  }
}
