/* stylelint-disable selector-type-no-unknown, selector-max-type */
@import url('@antmjs/vantui/lib/index.less');
@import url('./iconfont.less');

page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

page,
.taro_router .taro_page {
  background-color: @pageBack !important;
  font-size: 28px;
}

view,
div {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  // NOTE: taro h5 ios上拉遮挡底部fixed元素
  //overflow: hidden !important;
}

.van-sms-cell {
  display: flex;
  align-items: center;
}

//页面通用属性
.van-page-box {
  flex: 1;
}

.van-page-button {
  margin: 30px;
}

.van-nav-bar {
  &__text {
    &--hover {
      .theme(background-color, #a4d1d9);
    }
  }
}

.taro_choose_location {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 200px);
  background: #ffffff;

  .taro_choose_location_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .taro_choose_location_title {
    height: 100px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .taro_choose_location_submit {
    width: 90%;
    margin: 10px;
    height: 60px;
    color: #ffffff;
    font-weight: bold;
    background: orange;
    border-radius: 10px;
    border: 1px solid orange;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.van-nav-bar {
  //background-color: #a4d1eb;
  background-color: @navBack;
}

.van-nav-bar__text,
.van-nav-bar__title {
  color: #ffffff;
}

.van-nav-bar__arrow {
  color: #ffffff !important;
}

/* 覆盖form表单样式 */
.vant-form {
  .vant-form-formItem-wrapper,
  .vant-form-formItem {
    background-color: #ffffff !important;
  }

  .vant-form-formItem {
    border-bottom: 1px solid #ededed !important;
    line-height: auto !important;
  }

  .vant-form-formItem-wrapper:last-child {
    .vant-form-formItem {
      border-bottom: 0 !important;
    }
  }

  .vant-form-label,
  .vant-form-formItem-controll-item {
    font-size: var(--cell-font-size, 28px);
  }

  .van-cell-group {
    margin-top: 20px !important;
  }
}

.van-form-cell-group {
  margin-top: 20px !important;
}

.van-steps {
  margin: 30px 30px 10px;
  border-radius: var(--cell-group-inset-border-radius, 0.4rem);
}

// 可以用的类
// .van-hairline,
// .van-hairline--top,
// .van-hairline--left,
// .van-hairline--right,
// .van-hairline--bottom,
// .van-hairline--top-bottom,
// .van-hairline--surround
// .van-ellipsis
// .van-multi-ellipsis--l2
// .van-multi-ellipsis--l3
