.pages-member-bind-phone-index {
  display: flex;
  flex-direction: column;
  height: 100%;

  .van-btn {
    height: 80px;
    line-height: 80px;
    font-size: 28px;
  }

  .van-button--plain.van-button--info {
    background: #fff;
  }

  .sms-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn {
      width: 200px;
      margin-top: -10px;
    }
  }
}
